<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSM_OAuth_ConsumerKey</key>
	<string>abcdEFG123</string>
	<key>OSM_OAuth_ConsumerSecret</key>
	<string>xyz987</string>
	<key>Jawg_Access_Token</key>
	<string>abcdEFG123</string>
</dict>
</plist>
